@model IEnumerable<TechCorner_ECommerce.ViewModels.MenuCategoryVM>

<div class="col-md-4 col-lg-2">
    <div class="sidebar">
        <div class="sidebar-box-2">
            <h2 class="heading">Categories</h2>
            <div class="fancy-collapse-panel">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    @foreach (var item in Model) {
                        var collapseId = "collapse" + item.Id;
                        var headingId = "heading" + item.Id;

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="@headingId">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                        @item.Name
                                    </a>
                                </h4>
                            </div>

                            <div id="@collapseId"
                                 class="panel-collapse collapse"
                                 role="tabpanel"
                                 aria-labelledby="@headingId">

                                <div class="panel-body">
                                    <ul>
                                        @foreach (var subItem in item.SubCategories) {
                                            <li>
                                                <a asp-controller="Product" asp-action="Index" asp-route-cate="@subItem.Id" >@subItem.Name (@subItem.Quantity)</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="sidebar-box-2">
            <h2 class="heading">Price Range</h2>
            <form method="post" class="colorlib-form-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="guests">Price from:</label>
                            <div class="form-field">
                                <i class="icon icon-arrow-down3"></i>
                                <select name="people" id="people" class="form-control">
                                    <option value="#">1</option>
                                    <option value="#">200</option>
                                    <option value="#">300</option>
                                    <option value="#">400</option>
                                    <option value="#">1000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="guests">Price to:</label>
                            <div class="form-field">
                                <i class="icon icon-arrow-down3"></i>
                                <select name="people" id="people" class="form-control">
                                    <option value="#">2000</option>
                                    <option value="#">4000</option>
                                    <option value="#">6000</option>
                                    <option value="#">8000</option>
                                    <option value="#">10000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>