@using TechCorner_ECommerce.Helpers
<!-- START nav -->
<div class="py-1 bg-black">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                        <span class="text">+ 1235 2355 98</span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                        <span class="text">youremail@email.com</span>
                    </div>
                    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                        <span class="text">3-5 Business days delivery &amp; Free Returns</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Minishop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item @Html.IsActive("Product", "Index")"><a asp-controller="Product" asp-action="Index" class="nav-link">All Products</a></li>


        <li class="nav-item dropdown mega-menu">
            <a class="nav-link dropdown-toggle" href="#">
                Catalog
            </a>

            <div class="mega-menu-content">

                <div class="mega-container">

                    <div class="mega-col">
                        <h6>Chuột Gaming</h6>
                        <a href="#">Chuột siêu nhẹ</a>
                        <a href="#">Chuột không dây</a>
                        <a href="#">Chuột có dây</a>
                        <a href="#">Dongle</a>
                    </div>

                    <div class="mega-col">
                        <h6>Lót chuột</h6>
                        <a href="#">Lót vải</a>
                        <a href="#">Lót kính</a>
                        <a href="#">Cerapad</a>
                    </div>

                    <div class="mega-col">
                        <h6>Bàn phím</h6>
                        <a href="#">Bàn phím cơ</a>
                        <a href="#">Keycap</a>
                        <a href="#">Kê tay</a>
                    </div>

                    <div class="mega-col">
                        <h6>Phụ kiện</h6>
                        <a href="#">Switch</a>
                        <a href="#">Arm màn hình</a>
                        <a href="#">Túi đựng</a>
                    </div>

                </div>

            </div>
        </li>


                <li class="nav-item @Html.IsActive("Home", "About")"><a asp-controller="Home" asp-action="About" class="nav-link">About</a></li>
                <li class="nav-item @Html.IsActive("Home", "Blog")"><a asp-controller="Home" asp-action="Blog" class="nav-link">Blog</a></li>
                <li class="nav-item @Html.IsActive("Home", "Contact")"><a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a></li>

                <li class="nav-item nav-search">
                    <form method="get" asp-controller="Product" asp-action="Index">
                        <div class="search-box">
                            <input type="text" name="keyword" placeholder="Tìm chuột, bàn phím, tai nghe..." value="@Context.Request.Query["keyword"]"/>

                            <input type="hidden" name="cate" value="@Context.Request.Query["cate"]" />

                            <button type="submit" class="search-btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </li>

                <li class="nav-item">
                    <a href="login.html" class="nav-link">
                    <i class="fa fa-user"></i>
                    </a>
                </li>

                @await Component.InvokeAsync("Cart")

            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
                    







    <script>
    function filterCategories() {
        var input = document.getElementById("categorySearch");
        var filter = input.value.toLowerCase();
        var items = document.getElementsByClassName("category-item");

        for (var i = 0; i < items.length; i++) {
            var name = items[i].querySelector(".category-name").innerText.toLowerCase();

            if (name.includes(filter)) {
                items[i].style.display = "";
            } else {
                items[i].style.display = "none";
            }
    }
}
</script>